<div class="banner-wrapper" style="background:url(../images/header-bg-5.jpg) no-repeat left; height:88px">
    <div class="banner-main">
        <h1>
            About</h1>
    </div>
</div>
<div class="content-wrapper">
    <div class="content-main">
        <table width="1000" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="611" valign="middle"><p><br />
      India has one of the youngest populations in the world and a very large pool of young English-speaking people. Therefore, it has the potential to meet the skill needs of other countries and also cater to its own demand for skilled manpower. </p>
      <p>The  urban, semi urban and  rural youth from underprivileged communities have remained under constant threat of unemployment which has occurred due to high illiteracy rate, high school dropout ratio, lack of vocational education, absence of skill inculcation trainings and nonexistence of initiatives in mainstreaming dropout youth and guiding them towards sustainable employment opportunities. India has been recognized as a hub for availability of human resource in marginalized, unskilled and labor activities. Such a traditional view and a rigid bent of mind have increased cases of exploitation and indecent labor practices in India. </p>
      <p>The Intervention aim is to reduce poverty and vulnerability of disadvantaged youth through improving their life skills and market-based skill training, the purpose of this project is to improve life skills and livelihood opportunities of poorer and marginalized youth, aged between 18 to30.</p></td>
    <!-- <td width="389" valign="middle"><img src="images/about-img.jpg" width="389" height="279" alt="CSR" /></td> -->
     <td <%= link_to image_tag("about-img.jpg", alt: "job picture"), '#' %></td>
  </tr>
  </table>

  </div>
</div>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-53117381-1', 'auto');
  ga('send', 'pageview');

</script>