<div class="banner-wrapper" style="background:url(images/header-bg-4.jpg) no-repeat left; height:88px">
    <div class="banner-main">
        <h1>
            CSR</h1>
    </div>
</div>
<div class="content-wrapper">
    <div class="content-main">
        <table width="1000" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="500" valign="middle"><p><br />
      Due to the congenial growth environment created at the grassroot level, there is a huge demand of skilled and trained human resource which will act as a decisive factor in employment generation for deprived and marginalized youth. </p>
      <p> These deprived and marginalized youth group is not equipped with the necessary knowledge, Skills, training and attitudes to be employable in the organized sector. </p></td>
  </tr>
  <tr>
    <!-- <td align="center" valign="middle"><img src="images/training-img4.jpg" width="835" height="306" alt="CSR" /><br />      <br /></td> -->
    <td <%= link_to image_tag("training-img4.jpg", alt: "job picture"), '#' %><br />      <br /></td>

  </tr>
  <tr>
    <td valign="middle"> <p>Lack of proper skill trainings and employment opportunities for deprived youth has increased unskilled labor practices and rate of migration, which has, in turn, enhanced vulnerability and insecurity amongst youth. </p>
<p> An optimistic estimate is that only one in five Job-seekers in India have ever had any sort of vocational training. The education that poor and marginalized youth receive is inadequate and has little relevance to what the market is looking for in various services and manufacturing sector. </p>
      <p> Trained Youths can secure good placement in different private companies, corporate, agencies and organizations through Placement Assistance Cell.</p></td>
  </tr>
  </table>

  </div>
</div>