
<div class="banner-wrapper" style="background:url(../images/header-bg-3.jpg) no-repeat left; height:88px">
    <div class="banner-main">
        <h1>
            Jobs</h1>
    </div>
</div>
<div class="content-wrapper">
    <div class="content-main">
        <table width="1000" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="500" valign="middle"><p>National Policy on Skill Development has set a target for providing skills to 500 million people by 2022. Ironically, most industries in India are currently struggling with scarcity of skilled labor. Although more than 40 million people are registered in employment exchanges, only 0.2 million get jobs.</p></td>
    <td width="500" align="center" valign="middle"><br />
    <!--  <td style="background:url(images/header-style-bg.png) repeat-y;" align="center" valign="middle" width="220"><%= link_to image_tag("contact-img.png", alt: "Rails"), '#' %> -->
     <!--  <img src="images/job-img2.jpg" width="500" height="375" alt="Training" /></td> -->
     <%= link_to image_tag("job-img2.jpg", alt: "job picture"), '#' %>
  </tr>
  </table>

  </div>
</div>