<div class="banner-wrapper" style="background:url(images/header-bg-2.jpg) no-repeat left; height:88px">
    <div class="banner-main">
        <h1>
            Training
        </h1>
    </div>
</div>
<div class="content-wrapper">
    <div class="content-main">
        <table width="1000" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="500" valign="middle"><p>Today’s competitive world demands trained, certified and skilled manpower to address the challenges of growth and converting them into opportunities.</p>
      <p>The   current education system does not focus on training young people in   employable skills that can provide them with employment opportunities.   Today, a large section of India’s labor force has outdated skills. With   current and expected economic growth, this challenge is going to only   increase further, since more than 75% of new job opportunities are   expected to be “skill-based.”</p>
      <p>Therefore we strongly emphasize on upgrading people’s skills by providing vocational education and training to them. </p></td>
    <td width="500" align="center" valign="middle"><br />
      <!-- <img src="training-img2.jpg" width="483" height="423" alt="Training" /></td> -->
       <td <%= link_to image_tag("training-img2.jpg", alt: "picture" ,width:"483" ,height:"423" ), '#' %></td>
  </tr>
  </table>

  </div>
</div>