
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
<style type="text/css">
<!--
body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
-->
</style></head>

<body>
<%= form_for (@jobs) do |f| %>
<%= render 'errormessages/error_messages', object: f.object %>
<table width="900" border="0" align="center" cellpadding="0" cellspacing="10">
  <tr>
    <td width="147" align="right">Name ;</td>
    <td colspan="5"><label>
      <input type="text" name="jobregistration[name]" id="textfield" />
    </label></td>
  </tr>
  <tr>
    <td align="right">Age :</td>
    <td colspan="5"><input type="text" name="jobregistration[age]" id="textfield2" /></td>
  </tr>
  <tr>
    <td align="right">House No :</td>
    <td colspan="5"><input type="text" name="jobregistration[housenumber]" id="textfield3" /></td>
  </tr>
  <tr>
    <td align="right">Street :</td>
    <td colspan="5"><input type="text" name="jobregistration[street]" id="textfield4" /></td>
  </tr>
  <tr>
    <td align="right">Town / Village : </td>
    <td colspan="5"><input type="text" name="jobregistration[village]" id="textfield5" /></td>
  </tr>
  <tr>
    <td align="right">District :</td>
    <td width="144"><input type="text" name="jobregistration[district]" id="textfield6" /></td>
    <td width="148" align="right">State : </td>
    <td colspan="3"><input type="text" name="jobregistration[state]" id="textfield7" /></td>
  </tr>
  <tr>
    <td align="right">Phone : </td>
    <td colspan="5"><input type="text" name="jobregistration[phone]" id="textfield8" /></td>
  </tr>
  <tr>
    <td align="right">Email : </td>
    <td colspan="5"><input type="text" name="jobregistration[email]" id="textfield9" /></td>
  </tr>
  <tr>
    <td align="right">Exp : </td>
    <td colspan="5"><input type="text" name="jobregistration[experience]" id="textfield10" /></td>
  </tr>
  <tr>
    <td align="right">Qualification : </td>
    <td colspan="5"><label>
      <select name="jobregistration[qualification]" id="select">
        <option>Please Select</option>
      </select>
    </label></td>
  </tr>
  <tr>
    <td align="right">School : </td>
    <td><input type="text" name="jobregistration[school1]" id="textfield11" /></td>
    <td align="right">Passout : </td>
    <td width="167"><input type="text" name="jobregistration[passout1]" id="textfield12" /></td>
    <td width="80" align="right">Standard : </td>
    <td width="144"><input type="text" name="jobregistration[standard1]" id="textfield13" /></td>
  </tr>
  <tr>
    <td align="right">School : </td>
    <td><input type="text" name="jobregistration[school2]" id="textfield14" /></td>
    <td align="right">Passout : </td>
    <td><input type="text" name="jobregistration[passout2]" id="textfield15" /></td>
    <td align="right">Standard : </td>
    <td><input type="text" name="jobregistration[standard2]" id="textfield16" /></td>
  </tr>
  <tr>
    <td align="right">School : </td>
    <td><input type="text" name="jobregistration[school3]" id="textfield17" /></td>
    <td align="right">Passout : </td>
    <td><input type="text" name="jobregistration[passout3]" id="textfield18" /></td>
    <td align="right">Standard : </td>
    <td><input type="text" name="jobregistration[standard3]" id="textfield19" /></td>
  </tr>
  <tr>
    <td align="right">School : </td>
    <td><input type="text" name="jobregistration[school4]" id="textfield20" /></td>
    <td align="right">Passout : </td>
    <td><input type="text" name="jobregistration[passout4]" id="textfield21" /></td>
    <td align="right">Standard : </td>
    <td><input type="text" name="jobregistration[standard4]" id="textfield22" /></td>
  </tr>
  <tr>
    <td align="right" valign="top">Job :</td>
    <td valign="top"><input type="text" name="jobregistration[job1]" id="textfield23" /></td>
    <td align="right" valign="top">Experience : </td>
    <td colspan="3" valign="top"><input type="text" name="jobregistration[exp1]" id="textfield24" /></td>
  </tr>
  <tr>
    <td align="right" valign="top">Job :</td>
    <td valign="top"><input type="text" name="jobregistration[job2]" id="textfield23" /></td>
    <td align="right" valign="top">Experience : </td>
    <td colspan="3" valign="top"><input type="text" name="jobregistration[exp2]" id="textfield24" /></td>
  </tr>
  <tr>
    <td align="right" valign="top">Job :</td>
    <td valign="top"><input type="text" name="jobregistration[job3]" id="textfield23" /></td>
    <td align="right" valign="top">Experience : </td>
    <td colspan="3" valign="top"><input type="text" name="jobregistration[exp3]" id="textfield24" /></td>
  </tr>
  <tr>
    <td align="right" valign="top">Desc : </td>
    <td colspan="5"><label>
      <textarea name="jobregistration[desc]" id="textarea" cols="45" rows="5"></textarea>
    </label></td>
  </tr>
  <tr>
    <td align="right">Language : </td>
    <td colspan="5"><label>
      <select multiple  name="jobregistration[languages]">
        <option value="Telugu">Telugu</option>
        <option value="English">English</option>
        <option value="Hindi">Hindi</option>
        <option value="others">others</option>
      </select>
    </label></td>
  </tr>
  <tr>
    <td align="right">Choice of work Location : </td>
    <td colspan="5"><select name="jobregistration[choicelocation]" id="select2">
      <option value="Andaman and Nicobar Islands">Andaman and Nicobar Islands</option>
<option value="Andhra Pradesh">Andhra Pradesh</option>
<option value="Arunachal Pradesh">Arunachal Pradesh</option>
<option value="Assam">Assam</option>
<option value="Bihar">Bihar</option>
<option value="Chandigarh">Chandigarh</option>
<option value="Chhattisgarh">Chhattisgarh</option>
<option value="Dadra and Nagar Haveli">Dadra and Nagar Haveli</option>
<option value="Daman and Diu">Daman and Diu</option>
<option value="Delhi">Delhi</option>
<option value="Goa">Goa</option>
<option value="Gujarat">Gujarat</option>
<option value="Haryana">Haryana</option>
<option value="Himachal Pradesh">Himachal Pradesh</option>
<option value="Jammu and Kashmir">Jammu and Kashmir</option>
<option value="Jharkhand">Jharkhand</option>
<option value="Karnataka">Karnataka</option>
<option value="Kerala">Kerala</option>
<option value="Lakshadweep">Lakshadweep</option>
<option value="Madhya Pradesh">Madhya Pradesh</option>
<option value="Maharashtra">Maharashtra</option>
<option value="Manipur">Manipur</option>
<option value="Meghalaya">Meghalaya</option>
<option value="Mizoram">Mizoram</option>
<option value="Nagaland">Nagaland</option>
<option value="Orissa">Orissa</option>
<option value="Pondicherry">Pondicherry</option>
<option value="Punjab">Punjab</option>
<option value="Rajasthan">Rajasthan</option>
<option value="Sikkim">Sikkim</option>
<option value="Tamil Nadu">Tamil Nadu</option>
<option value="Tripura">Tripura</option>
<option value="Telangana">Telangana</option>
<option value="Uttaranchal">Uttaranchal</option>
<option value="Uttar Pradesh">Uttar Pradesh</option>
<option value="West Bengal">West Bengal</option>
</select>
    </select></td>
  </tr>
  <tr>
    <td align="right" valign="top">Previous Slary : </td>
    <td valign="top"><input type="text" name="jobregistration[previoussalary]" id="textfield25" /></td>
    <td align="right" valign="top">Expected Salaery : </td>
    <td colspan="3" valign="top"><input type="text" name="jobregistration[expectedsalary]" id="textfield26" /></td>
  </tr>
  <tr>
    
    <td align="right">Religion : </td>
    <td colspan="5"><select name="jobregistration[religion]" id="select2">
      
     <option value="Hindu">Hindu</option>
     <option value="Muslim">Muslim</option>
     <option value="Christian">christian</option>
     <option value="others">others</option>

</select>
    </select></td>
  
    <td align="right" valign="top">Caste  : </td>
    <td colspan="3" valign="top"><input type="text" name="jobregistration[caste]" id="textfield28" /></td>
  </tr>
  <tr>
    <td align="right">&nbsp;</td>
    <td colspan="5"><label>
      <input type="submit" name="button" id="button" value="Submit" />
    </label></td>
  </tr>
</table>
<%end%>
</body>
</html>
